/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Estilos para las celdas de encabezado (th) y celdas de datos (td) */
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  /* Estilos para centrar el contenido en las celdas */
  .text-center {
    text-align: center;
  }
  